.body {
  overflow-x: hidden;
  background-color: #eff1f5;
  color: #4c4f69;
}

.body .link {
  color: #1e66f5;
}

.header {
  background-color: #7287fd;
  padding: 10px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  position: relative;
  left: -10px;
  top: -10px;
}

.header .link {
  text-decoration: none;
  color: #4c4f69;
}

.nav {
  padding: 6px;
  padding-right: 20px;
}
