.body {
  overflow-x: hidden;
}

.header {
  background-color: #b7bdf8;
  color: #fff;
  padding: 10px;
  padding-left: 20px;
  text-align: center;
  width: 100%;
  position: relative;
  left: -10px;
  top: -10px;
}

.header .link {
  text-decoration: none;
  color: #24273a;
}
