{% load static %}
<!doctype html>
<html>
  <head>
    <title>Leadership Team Viewer</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body class="body">
    <div class="header">
      <h3>
        <a href="{% url 'home' %}" class="link">Leadership Team Viewer</a>
      </h3>
      <p class="nav"><a href="{% url 'team' "community" %}" class="link">Community Team</a> | <a href="{% url 'team' "documentation" %}" class="link" >Documentation Team</a> | <a href="{% url 'team' "management" %}" class="link" >Management Team</a> | <a href="{% url 'team' "Procurement" %}" class="link">Procurement Team</a></p>
    </div>
    {% block content %} {% endblock %}
  </body>
</html>
